<%- include('../includes/head.ejs') %>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <div class='my-4'>
      <% if (errorMessage.length > 0) { %>
        <div class='user-message error d-flex align-items-center'>
          <h3><%= errorMessage %></h3>
        </div>
      <% } %>
      <% if (successMessage.length > 0) { %>
        <div class='user-message success d-flex align-items-center'>
          <h3><%= successMessage %></h3>
        </div>
      <% } %>
    </div>
    <div class='contaier'>
      <div class='row text-center m-auto'>
        <form class='custom-form' action='/sign-in' method='POST' class="form-control">
          <div class='m-3'>
            <label for="email" class='d-block'>Email:</label>
            <input 
              class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
              type="email" 
              name='email' 
              id='email' 
              value='<%= oldInput.email %>' required>
          </div>
          <div class='m-3'>
            <label for="password" class='d-block'>Parola:</label>
            <input 
              class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
              type="password" 
              name='password' 
              id='password' 
              value='<%= oldInput.password %>' required>
            <p>Parola trebuie să conțină cel puțin 8 caractere.</p>
          </div>

          <button type='submit' class="button m-3">Autentificare</button>
          <input type="hidden" name="_csrf" value='<%= csrfToken %>'>
        </form>

        <div class='text-center m-auto'>
          <p>Nu aveți un cont?</p>
          <a class='d-block' href='/sign-up'>Către înregistrare</a>
        </div>
      </div>
    </div>
  </main>

<%- include('../includes/end.ejs') %>