<%- include('../includes/head.ejs') %>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <div class='my-4'>
      <% if (errorMessage.length > 0) { %>
        <div class='user-message error d-flex align-items-center justify-content-center'>
          <h3><%= errorMessage %></h3>
        </div>
      <% } %>
      <% if (successMessage.length > 0) { %>
        <div class='user-message success d-flex align-items-center'>
          <h3><%= successMessage %></h3>
        </div>
      <% } %>
    </div>
    <div class='contaier'>
      <div class='row text-center m-auto'>
        <form class='custom-form' action='/sign-up' method='POST' class="form-control" novalidate>
          <div class='m-3'>
            <label for="username" class='d-block'>Nume de utilizator:</label>
            <input
              type="text" 
              name='username' 
              id='username' 
              value='<%= oldInput.username %>' required>
          </div>
          <div class='m-3'>
            <label for="email" class='d-block'>Email:</label>
            <input 
              class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
              type="email" 
              name='email' 
              id='email' 
              value='<%= oldInput.email %>' required>
          </div>
          <div class='m-3'>
            <label for="password" class='d-block'>Parola:</label>
            <input 
              class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
              type="password" 
              name='password' 
              id='password' 
              value='<%= oldInput.password %>' required>
            <p>Parola trebuie să conțină cel puțin 8 caractere.</p>
          </div>

          <div class='my-5'> 
            <p><strong>Deoarece acest site este realizat doar în scop demonstrativ, înregistrarea a fost dezactivată.</strong></p>
            <p><strong>Dacă doriți să testați website-ul, contactați administatorul pe adresa de email lucianmg05@gmail.com și veți primi un cont de utilizator de test în cel mai scurt timp.</strong></p>
          </div>

          <input type="hidden" name="_csrf" value='<%= csrfToken %>'>
        </form>

        <div class='row text-center m-auto'>
          <p>Aveți deja un cont?</p>
          <a href='/sign-in'>Către autentificare</a>
        </div>
      </div>
    </div>
  </main>

<%- include('../includes/end.ejs') %>