<header>
  <nav class="navbar">
    <ul class="navbar__top">
      <div class="container-fluid">
        <div class="row align-items-center">
          <li class="col-3 col-lg-2">
            <a class="d-none d-lg-block" href="/"> <%- include('../includes/logo.ejs') %> </a>
            <button type='button' id='mobileNavButton' class='d-block d-lg-none'>
              <svg class='d-block d-lg-none p-0' xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="#333652" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
              </svg>
            </button>
          </li>
          <li class="col-6 col-lg-5" class="text-center">
            <form action="/search" method="POST">
              <div class="d-flex align-items-center justify-content-center">
                <input type="text" name="searchParams" placeholder="Caută" />
                <button type="submit" class="align-self-center">
                  <svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#333652" class="bi bi-search align-self-center" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                  </svg>
                </button>
              </div>
            </form>
          </li>
          <li class="col-lg-3 d-lg-block d-none">
            <% if(user.name) { %>
              <a href="/user-panel">
                <div class='d-flex align-items-center justify-content-center'>
                  <p>Salut, <%= user.name %></p>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#333652" class="bi bi-arrow-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                  </svg>
                </div>
              </a>
            <% } else { %>
              <a href="/sign-in">
                <div class="d-flex align-items-center justify-content-center">
                  <svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#333652" class="bi bi-box-arrow-in-right d-lg-block d-none" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
                    <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                  </svg>
                  <svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="44" height="44" fill="#333652" class="bi bi-box-arrow-in-right d-lg-none d-block" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
                    <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                  </svg>
                  <p class="px-1 d-none d-lg-block">Intră în cont</p>
                </div>
              </a>
            <% } %>
          </li>
          <li class="col-3 col-lg-2">
            <a href="/cart">
              <div class="d-flex align-items-center justify-content-center position-relative">
                <% if (user.name) { %>
                  <div class='cart-items-count'>
                    <p class='rounded-circle'><%= cart.length %></p>
                  </div>
                <% } else { %>
                  
                <% } %>
                <svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#333652" class="bi bi-basket d-lg-block d-none" viewBox="0 0 16 16">
                  <path
                    d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"
                  />
                </svg>
                <svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="44" height="44" fill="#333652" class="bi bi-basket d-lg-none d-block" viewBox="0 0 16 16">
                  <path
                    d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"
                  />
                </svg>
                <p class="px-1 d-none d-lg-block">Coș</p>
              </div>
            </a>
          </li>
        </div>
      </div>
    </ul>
    <ul class="navbar__bottom px-2 d-lg-block d-none">
      <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
          <li class="col p-1"><a href="/products/caini">Câini</a></li>
          <li class="col p-1"><a href="/products/pisici">Pisici</a></li>
          <li class="col p-1"><a href="/products/cai">Cai</a></li>
          <li class="col p-1"><a href="/products/pesti">Pești</a></li>
          <li class="col p-1"><a href="/products/pasari">Păsări</a></li>
          <li class="col p-1"><a href="/products/reptile">Reptile</a></li>
          <li class="col p-1"><a href="/products/rozatoare">Rozătoare</a></li>
        </div>
      </div>
    </ul>
    <ul id='navbar__mobile'>
      <div>
        <li><a href="/"> <%- include('../includes/logo.ejs') %> </a></li>
        <li>
          <% if(user.name) { %>
            <a href="/user-panel">
              <div class='d-flex align-items-center gap-2'>
                <p>Salut, <%= user.name %></p>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#333652" class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
              </div>
            </a>
          <% } else { %>
            <a href="/sign-in">
              <div class="d-flex align-items-center">
                <p>Intră în cont</p>
                <svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="44" height="44" fill="#333652" class="bi bi-box-arrow-in-right d-lg-none d-block" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
                  <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                </svg>
              </div>
            </a>
          <% } %>
        </li>
        <li><a href="/products/caini">Câini</a></li>
        <li><a href="/products/pisici">Pisici</a></li>
        <li><a href="/products/cai">Cai</a></li>
        <li><a href="/products/pesti">Pești</a></li>
        <li><a href="/products/pasari">Păsări</a></li>
        <li><a href="/products/reptile">Reptile</a></li>
        <li><a href="/products/rozatoare">Rozătoare</a></li>
      </div>
    </ul>
  </nav>
  <div id='backdrop'></div>
</header>
